<nav class="navbar navbar-default"> 
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-left">
      <li>
        <a [routerLink]="['']">Home</a>
      </li>
      <li>
        <a [routerLink]="['movies']">Movie List</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="login container-fluid navbar-right hover">
        <a *ngIf="!auth.isAuthenticated()" [routerLink]="['login']">Login</a>
        <a *ngIf="auth.isAuthenticated()" [routerLink] (click)="auth.goToUserPage()">Welcome, {{auth.currentUser.username}}!</a>
      </li>
      <li class="logout container-fluid navbar-right hover">
        <a class="container-fluid" *ngIf="auth.isAuthenticated()" [routerLink] (click)="auth.logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
