$nav-bgd: #24292e;
$nav-txt: #fafbfc;

nav {
    background-color: $nav-bgd;
    color: $nav-txt;
    border: 0px;
    font-size: 16px; 

    a {
        color: $nav-txt;

    }
    a:hover {
        background-color: #363636;
    }

    li {
        padding-left: 0px;
        padding-right: 0px;
    }

    .navbar-right {
        margin-right: 10px;
    }

}

.login {
    padding-left: 0px;
    padding-right: 0px;
}

.logout {
    padding-left: 0px;
    padding-right: 0px;
}
