$nav-bgd: #24292e;
$nav-txt: #fafbfc;

nav {
    background-color: $nav-bgd;
    color: $nav-txt;
    border: 0px;
    font-size: 16px; 

    a {
        color: $nav-txt;

    }
    a:hover {
        color: #FFFFFF;
        background-color: #363636;
    }

    div:hover {
        color: #FFFFFF;
        background-color: #363636;
    }
}

.login {
    // float: right;
    // right: 0;
    // position: fixed;
    padding-left: 0px;
    padding-right: 0px;
}

.logout {
    // float: right;
    // right: 0;
    // position: fixed;
    padding-left: 0px;
    padding-right: 0px;
}
