/* You can add global styles to this file, and also import other style files */
$text-color: ghostwhite;

h1, button {
    color: $text-color !important;
}

a, label, h2, h3, h4 {
    color: $text-color !important;
}
